body{
    overflow-x: hidden;
}
.container-body{
    height: 80%;
    background: url("../scriptFiles//images//banner-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border:.1px solid white;
    display: flex;
    flex-direction: column;
    
}
.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.content div{
    display: flex;
    width: 90%;
    column-gap: 2rem;
}
.content p{
    display: flex;
    width: 90%;
    flex-direction: column;
    font-size: clamp(3.5rem, 7vw, 4.3rem);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content span{
    font-weight: bold;
    color: rgb(23, 158, 43);
}
.content button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(.7rem, 2vw, 1rem);
    padding: 1rem;
    border-radius: 35px;
    border: none;
    background-color: black;
    color: white;
    outline: none;
}
.content .first{
    background-color: rgb(72, 188, 72);
}
.content button:hover{
    opacity: .8;
}
.content .first:hover{
    background-color: orange;
}
.stats{
    display: flex;
    width: 45%;
    align-items: end;
    height: 30%;
    margin: 2rem 4rem;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stats h3{
    font-size: 2.3rem;
    color: rgb(44, 43, 43);
    margin: 0;
    padding: 0;
}
.stats p{
    text-transform: uppercase;
    width: 70%;
}
.details{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 20%;
    align-items: end;
}
.details .group span{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: white;
}
.details .group p{
    color: white;
    font-size: clamp(.7rem,1.1vw,1.5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details .group{
    height: 20vh;
    padding: 1rem;
    width: 40%;
    display: flex;
}
.details .group div{
    width: 70%;
}
.ico{
    font-size: clamp(2rem, 4vw, 4rem);
    margin: auto;
    color: white;
}
.one{
    background-color: rgb(72, 188, 72);
}
.two{
    background-color: rgb(1, 61, 1);
}
.three{
    background-color: orangered;
}
@media screen and (max-width: 778px) {
    .content{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .content div{
        justify-content: center;
    }
    .stats{
        width: 80%;
        text-align: center;
    }
    .details{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .details .group{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details .group div{
        width: 90%;
        text-align: center;
    }
}