
.head{
    width: 95%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}
.section .list{
    width: 30vw;
    height: 40vh;
    display: flex;
    align-items: start;
    border-radius: 10px;
}
.section .list div{
    width: 55%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.section .list div p{
    margin: 0;
    font-size: clamp(1rem, 1.9vw, 3rem);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section .list div span{
    font-size: clamp(.5rem, 2vw, .9rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section .list div button{
    width: 60%;
    height: 20%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;   
}
.section .list img{
    width: 45%;
    height: 80%;
    margin: auto;
}
.section .first{
    background-image: url("../scriptFiles/images/beat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
.section .first .btn{
    background-color: white;
    color: black;
}
.section .second{
    background-color: rgb(248, 248, 102);
    height: 40vh;
}
.section .third{
    background-color: rgb(83, 200, 251);
    height: 40vh;
}
.listContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}
.listContainer img{
    width: 130px;
    cursor: pointer;
    
}
@media screen and (max-width: 778px) {
    .head{
        flex-direction: column;
        row-gap: .1rem;
    }
    .section .list{
    width: 95%;
    height: 50vh;
    margin: auto;
    border-radius: 0px;
    }
    .section .list div p{
        font-size: clamp(1.5rem, 5.5vw, 3rem);
    }
    .section .list div span{
        font-size: clamp(.5rem, 3vw, 1rem);
    }
    .collection img{
    width: 75px;
    }
}   
