.product_con{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 1rem;
}
.product_con h2{
    font-size: 30px;
    font-weight: 600;
}
.product_con .product_section{
    display: flex;
    overflow-x  : scroll;
    overflow-y: hidden;
    width: 97%;
    gap: 1.5em;
    padding: 1em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.product_section::-webkit-scrollbar{
    display: none;
}
.product{
    border: 1px solid rgb(177, 177, 177);
    min-width: 160px;
    text-align: start;
    border-radius: 15px;
    scroll-snap-align:start;
    box-shadow:2px 2px 10px gray;
    padding: .5rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.product:hover{
    box-shadow:
    2px 2px 5px rgba(255,0,0,0.4),
    2px 1px 5px rgba(0,0,255,0.4);
    transform: scale(1.01);
}
.product:hover img{
transform: scale(1.1);
}
.product_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.product p{
    font-size: 14px;
}
.product small{
    font-size: 10px;
    background-color: rgb(232, 232, 232);
    width: 60px;
    border-radius: 15px;
    font-weight: 600;
    text-align: center;
}
.product span{
    font-size: 13px;
    color: gray;
}
.product img{
    margin: 0 auto;
    height: 100px;
}
.product_btn h4{
    font-weight: 600;
    font-size: 13px;
}
.product .btn_main{
    border: 1px solid green;
    width: 70px;
    height: 30px;
    color: green;
    outline: none;
    border-radius: 10px;
}
.product .btn_counts{
    background-color: rgb(19, 136, 19);
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    border-radius: 10px;
    color: white;
}
.product .btn_counts p{
    font-size: 15px;
    font-weight: 600;
}
.product .btn_count{
    font-size: 15px;
    border: none;
    color: white;
    background: transparent;
}
@media (max-width: 568px){
    .product{
        min-width: 120px;
        min-height: 290px;
        box-shadow:none;
        border: none;
        justify-content: space-between;
    }
    .product img{
        border: 1px solid gray;
        border-radius: 20px;
    }
    .product:hover{
    box-shadow:none;
    transform: none;
    }
    .product:hover img{
    transform: none;
    }
    .product .pro_content{
        border: 1px solid gray;
        border-radius: 15px;
        padding: .5rem;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}